.collectionCard {
	grid-column: span 4;
	padding-top: 35px;
}

.collectionCard__image {
	width: 95%;
	height: 300px;
	object-fit: cover;
	border-radius: 25px;
	position: relative;
	z-index: -1;
}

.collectionCard__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}