.items > h1 {
    font-weight: 300;
}

.items__addNew {
    display: flex;
    justify-content: center;
    align-content: center;
}

.items__addNew > a > button {
    width: 150px;
    height: 40px;
    background: black;
    color: white;
    border: none;
    font-size: 1em;
}

