.productCard {
	grid-column: span 2;
	padding-top: 35px;
	position: relative;
}

.productCard > img {
	width: 95%;
	height: 300px;
	object-fit: cover;
	border-radius: 25px;
	filter: brightness(50%);
	z-index: -500;
	transition: filter 1s ease;
}

.productCard > img:hover {
	filter: brightness(100%);
}


.productCard__info {
	position: absolute;
	bottom: 10px;
	right: 15px;
    color: white;
    text-align: right;
	z-index: 2;
}

.productCard__info:hover {
	display: hidden;
}


