.subMenu {
    display: flex;
    grid-column: 2/8;
    justify-content: center;
    margin-top: 25px;
}

.subMenu > h3 {
    padding: 0 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 20px;
    font-family: 'Poppins';
    font-weight: 300;
    transition: all 1s ease;
}

.subMenu > h3:hover {
    padding: 0 50px;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    margin: 0 20px;
    font-family: 'Poppins';
    font-weight: 300;
}